{% extends 'layout.twig' %}

{% set gridId = 'grid-'~model %}

{% import 'ui/buttons.twig' as buttons %}
{% import 'ui/properties.twig' as property %}
{% import 'ui/grid.twig' as grid %}

{% block content %}

{% block breadcrumbs %}
{% if active_project is defined %}
<ol class="breadcrumb">
    <li><a href="/{{ active_project }}">{{ active_project }}</a></li>
    <li class="active"><a href="">{{model}}</a></li>
</ol>
{% endif %}
{% endblock breadcrumbs %}

{% block grid_control %}
<ul class="grid-control list-unstyled list-inline" data-grid="#{{ gridId }}">
{%  block grid_button_add %}
    <li class="pull-left">
        <a class="btn btn-default" href="{{ path('ui_model_new', {'model': model}) }}"><span class="glyphicon glyphicon-plus"></span> Add new</a>
    </li>
{%  endblock grid_button_add %}

{%  block grid_bulk_actions %}
    <li class="pull-left grid-control-bulk" style="display:none" data-grid="#{{ gridId }}">
        <button class="btn btn-warning grid-control-bulk-delete" data-title="Delete all selected items?">Delete selected</button>
    </li>
{%  endblock grid_bulk_actions %}
</ul>
{% endblock grid_control %}

{% block paginator_top %}
{% include 'ui/paginator.twig' %}
{% endblock %}

{% block grid_table %}
<table class="table table-striped grid-table" id="{{ gridId }}" data-model="{{ model }}">
{% block grid_head %}
    <thead>
        <tr>
            <th></th>
            <th></th>
            {% block grid_head_fields %}{% endblock grid_head_fields %}
            <th></th>
        </tr>
    </thead>
{% endblock grid_head %}

{% block grid_body %}
    <tbody>
        {% for item in items %}
            {% block grid_body_row %}
            <tr data-uri="{{ item.URI }}">
                {% block grid_body_row_content %}
                <td>
                    <input data-target_uri="{{ item.URI }}" class="button-grid-row-select" type="checkbox" />
                    </td><td>
                    {{ buttons.button_edit(model, item.URI) }}
                </td>
                {% block grid_body_row_fields %}
                {% endblock grid_body_row_fields %}
                    <td class="grid-buttons">
                        {{ buttons.button_edit(model, item.URI) }}                        
                    </td>
                {% endblock grid_body_row_content %}
            </tr>
            {% endblock grid_body_row %}
        {% endfor %}
    </tbody>
{% endblock grid_body %}
</table>
{% endblock grid_table %}

{% block paginator_bottom %}
{% if items|length %}
{% include 'ui/paginator.twig' %}
{% endif %}
{% endblock %}

{% endblock %}
